<%= render 'shared/sidebar' %>
<div class="all-without-sidebar">
  <div class="navnav">
    <%= render 'shared/navbar' %>
  </div>
  <div class="main-screen">
    <div class="presentation-line">
      <h1>My Dashboard</h1>
    </div>
    <div class="dash-elements">
      <div class="grid-container">
        <div id="calendar">
          <%= @google_events %>
        </div>
      </div>
      <div class="dash-right">
        <div class="in-process">
          <h3>Tasks in process</h3>
          <h2 class="count-tasks">
            <%= @tasks.count %>
          </h2>
          <div class="call-btn">
            <%= link_to "See all tasks", projects_path(current_user), class: 'call-to-action' %>
          </div>
          <ul class="list-post">
            <li class="item-post" >
              <a contenteditable="true" class="task" href="#">
                <h2 class="title-post"> Edit a note <i class="fas fa-pen"></i></h2>
                <p  contenteditable="true" class="content-post">Text Content  </p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
