<%= render 'shared/flashes' %>
<%= render 'shared/sidebar' %>
<div class="all-without-sidebar">
  <div class="navnav">
    <%= render 'shared/navbar' %>
  </div>
  <div class="main-screen">
    <div class="presentation-line">
      <h3>My Profile</h3>
    </div>


<div class="container">
    <%= simple_form_for(@user) do |f| %>
  <div class="form-wrapper">
    <div class="profile">
      <% if @user.photo.present? %>
      <div class="image">
        <%= cl_image_tag @user.photo,  width: 150, height: 150, crop: :thumb, gravity: :face%>
      </div>
      <% else %>
      <%= cl_image_tag "iconfinder_Contact_4074104", height: 180, crop: :fill%>
      <% end %>
    <h1 class="title-sign">Edit your profile</h1>
    <div class="form-inputs">
      <label>Name:</label> <%= @user.first_name %> <%= @user.last_name %> <br>
      <label>Email: </label> <%= @user.email %>
      <hr>
      <div class="form-item">
        <%= f.input :first_name %>
      </div>
      <div class="form-item">
        <%= f.input :last_name %>
      </div>
       <div class="form-item">
        <%= f.input :email %>
      </div>
      <div class="form-item">
      <%= image_tag "", width: 300, class: "hidden", id: "photo-preview" %>
      </div>
      <div class="form-item" >
        <%= f.input :photo, input_html: { class: 'hidden', id: 'photo-input'}, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo' %>
      </div>
      <div class="button-panel">
        <%= f.submit 'Update changes', class: 'btn button-sign'%>
        <%= link_to 'Cancel', '#', class: 'btn-flat-card-cancel' %>
      </div>

      </div>
    </div>
    <% end %>
  </div>
</div>



