<div class="side_nav_bg">
  <div class="sidebar">
    <div class="sidebar-titles">
      <%= link_to dashboard_path do %>
         <%= image_tag "logo" ,height: 50, width:50%>
          <%= link_to "My Filao", dashboard_path %>
      <% end %>

      <div class="logo_photo">
        <% if current_user.photo.present? %>
        <div class="image">
          <%= cl_image_tag current_user.photo, height: 100, width:100, crop: :fill, class: "profile-pic-on-sidebar"%>
          <div class="user">
            <h5>
              <%= link_to user_path(current_user) do %>
              <%= t(".profile", default: "#{current_user.first_name} #{current_user.last_name}") %>
              <% end %>
            </h5>
            <h6><%= current_user.email %></h6>
          </div>
        </div>
        <% else %>
        <div class="image">
          <%= cl_image_tag "avatar", height: 50, crop: :fill%>
          <div class="user">
            <h5>
              <%= link_to user_path(current_user) do %>
              <%= t(".profile", default: "#{current_user.first_name} #{current_user.last_name}") %>
              <% end %>
            </h5>
            <h6><%= current_user.email %></h6>
          </div>
        </div>
        <% end %>
      </div>
      <ul>


        <li><h5><%= image_tag("calendar.png", height: 20, width:20) %><%= link_to " Dashboard", dashboard_path%> </h5></li>


        <li><h5>  <%= image_tag("file.png", height: 20, width:20) %> <%= link_to " All my Projects", projects_path%></h5></li>

        <li><h5><%= image_tag("bar-chart.png", height: 20, width:20) %> Current projects</h5> </li>

        <li><h5><%= image_tag("add-contact.png", height: 20, width:20)%> Contacts</h5></li>
            <hr>
        <li><h5>
          <%= link_to user_path(current_user) do %>
          <%= image_tag("settings.png", height: 20, width:20)%> <%= t(".settings", default: "Settings") %>
          <% end %>
        </h5></li>

        <li><h5>
          <%= link_to destroy_user_session_path, method: :delete do %>
           <%= image_tag("logout.png", height: 20, width:20)%> <%= t(".sign_out", default: "Log out") %>
          <% end %>
        </h5></li>
         </ul>
    </div>
  </div>
</div>
