<div class="all">
  <!-- Sidebar -->
  <%= render 'shared/sidebar' %>
  <div class="all-without-sidebar">
    <div class="navnav">
      <%= render 'shared/navbar' %>
    </div>

    <!-- All my projects -->
    <div class="main-screen">
      <div class="title">
        <h1>All my projects</h1>
        <div class="call-to-action"><i class="fas fa-plus"></i><%= link_to " Add a new project ", new_project_path %>
        </div>
      </div>

      <!-- On-going projects -->
      <h2>On-going (<%= @projects.count_undone %>)</h2>
      <div class="projects-list">
        <div class="row">
          <% @projects.each do |project| %>
          <% if project.tasks.count != project.tasks.where(is_done: true).count %>
          <div class="col-xs-12 col-sm-4 col-md-6">
            <div class="card">
              <div class="card-first-line">
                <h3><%= project.name %></h3>
                <% if project.category != "Software" %>
                  <div class="card-category">
                    <h4><%= project.category %></h4>
                  </div>
                <% else %>
                  <div class="card-category-2">
                    <h4><%= project.category %></h4>
                  </div>
                <% end %>
              </div>
              <div class="inner-card">
                <div class="card-icons">
                  <p><i class="far fa-clock"></i> <%= project.created_at.to_date.strftime("%e %b %Y") %></p>
                  <p><i class="fas fa-tasks"></i> <%= project.tasks.count %> Tasks</p>
                </div>
                <div class="card-desc">
                  <p><%= project.description %></p>
                </div>
                <div class="card-link text-center">
                  <%= link_to "Find out more", project_path(project, step_id: Step.last)%>
                </div>
              </div>
            </div>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>

      <!-- Closed projects -->
      <h2>Closed projects (<%= @projects.count_done %>)</h2>
      <div class="projects-list">
        <div class="row">
          <% @projects.each do |project| %>
          <% if project.tasks.count == project.tasks.where(is_done: true).count %>
          <div class="col-xs-12 col-sm-4 col-md-6">
            <div class="card">
              <div class="card-first-line">
                <h3><%= project.name %></h3>
                <% if project.category != "Software" %>
                  <div class="card-category">
                    <h4><%= project.category %></h4>
                  </div>
                <% else %>
                  <div class="card-category-2">
                    <h4><%= project.category %></h4>
                  </div>
                <% end %>
              </div>
              <div class="inner-card">
                <div class="card-icons">
                  <p><i class="far fa-clock"></i> <%= project.created_at.to_date.strftime("%e %b %Y") %></p>
                  <p><i class="fas fa-tasks"></i> <%= project.tasks.count %> Tasks</p>
                </div>
                <div class="card-desc">
                  <p><%= project.description %></p>
                </div>
                <div class="card-link text-center">
                  <%= link_to "Find out more", project_path(project, step_id: Step.last)%>
                </div>
              </div>
            </div>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>
  </div>
</div>
