<%= render 'shared/flashes' %>

<div class="all">
  <!-- Sidebar -->
  <%= render 'shared/sidebar' %>
  <div class="all-without-sidebar">
    <div class="navnav">
      <%= render 'shared/navbar' %>
    </div>
    <div class="main-screen">
      <div class="title">
        <h1>All my projects</h1>
        <%= link_to " Add a new project ", projects_path, class: "call-to-action"%>
      </div>
      <h2>On-going (<%= @projects.count %>)</h2>
      <div class="row">
        <% @projects.each do |project| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card">
            <div class="card-bottom text-center">
              <h3><%= project.name %></h3>
              <p><%= project.description %></p>
              <div class="card-link">
              <p><%= link_to "See it", projects_path%> </p>
            </div>
          </div>
          </div>
        </div>
        <% end %>
      </div>
      <h2>Closed projects (0)</h2>
    </div>
  </div>
</div>

