<%= render 'shared/flashes' %>
<div class="all">
  <!-- Sidebar -->
  <%= render 'shared/sidebar' %>
  <div class="all-without-sidebar">
    <div class="navnav">
      <div class="navbar-wagon">
        <div class="navbar-wagon-right hidden-xs hidden-sm">

          <% if user_signed_in? %>

          <!-- Links when logged in -->
          <div class="navleft"><p><%= link_to "Home", projects_path, class: "navbar-wagon-item navbar-wagon-link" %> / <%= link_to "My projects", projects_path, class: "navbar-wagon-item navbar-wagon-link" %> / <%= link_to "#{@project.name}", project_path(@project), class: "navbar-wagon-item navbar-wagon-link" %></p></div>
          <div class="navright"><p><%= cl_image_tag "notification", height: 30, crop: :fill %></p></div>
        </div>
        <% end %>
      </div>
    </div>

    <div class="main-screen">
      <div class="title">
        <div class="project-name"><h1> <%= @project.name %></h1></div>
        <div class="edit-project"><%= link_to "Edit", edit_project_path(@project) %><i class="fas fa-pen"></i></div>
      </div>

      <h2>Timeline : current steps</h2>

      <div class="tabs">
        <a class="tab" href="/projects">
          <h3>Wireframes</h3>
        </a>
        <a class="tab active" href="/projects">
          <h3>Developpement</h3>
        </a>
        <a class="tab active" href="/projects">
          <h3>Testing</h3>
        </a>
      </div>
      <div class="tabs-content">
        <% @project.tasks.each do |task| %>
        <div class="tasks-title">
          <div class="checkbox">
            <% if @task.status == "Pending" %>
            <i class="fas fa-check-circle"></i>
            <% else %>
            <i class="fas fa-check-circle"></i>
            <% end %>
          </div>
          <div class="message-body">
            <p><strong><%= @task.name %></strong></p>
            <p><%= @task.description %></p>
          </div>
          <div class="send-message-btn">
            <%= link_to "Send message", projects_path %>
          </div>
        </div>
        <% end %>
      </div>

    <div class="tasks_list">
      <% @project.tasks.each do |task| %>
        <h2><%= task.name %></h2>
        <!-- List of documents -->
      <% task.documents.each do |document| %>
        <%= cl_image_tag(document.name, width: 100) %>
      <% end %>
      <br >
        <!-- Drag and drop -->
        <%= simple_form_for(Document.new, url: task_documents_path(task)) do |f| %>
          <%= f.input :name, input_html: { class: 'dropzone', id: 'photo-input'}, label_html: { class: 'upload-photo'}, label: 'Add a document' %>
          <!-- 📷 Upload a document -->
          <%= f.submit 'Upload', class: 'btn call-to-action'%>
        <% end %>
      <% end %>
    </div>

    </div>
  </div>

</div>
