<%= render 'shared/flashes' %>

<div class="all">
  <!-- Sidebar -->
  <%= render 'shared/sidebar' %>

  <div class="all-without-sidebar">

    <div class="navnav">
      <!-- Navbar -->
      <div class="navbar-wagon">
        <div class="navbar-wagon-right">
          <% if user_signed_in? %>
          <!-- Links when logged in -->
            <div class="navleft"><p><%= link_to "Home", projects_path, class: "navbar-wagon-item navbar-wagon-link" %> / <%= link_to "My projects", projects_path, class: "navbar-wagon-item navbar-wagon-link" %> / <%= link_to "#{@project.name}", project_path(@project), class: "navbar-wagon-item navbar-wagon-link" %></p>
            </div>
            <div class="navright">
              <%= render 'projects/notification' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <!-- end of navnav -->

    <div class="main-screen">
      <div class="title">
        <div class="project-name"><h1> <%= @project.name %></h1></div>
        <!-- Edit a project -->
        <div class="edit-project">
          <%= link_to "Edit", edit_project_path(@project) %><i class="fas fa-pen"></i>
        </div>
      </div>
      <div class="tabs">
        <% @project.steps.each do |step| %>
          <div class="tab <%= "active" if params[:step_id].to_i == step.id %>">
            <%= link_to project_path(@project, step_id: step.id) do %>
              <%= step.name %>
              <%= render 'projects/progressbar', progress: step.progress %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="tabs-content">

        <h4>Tasks</h4>
        <% @tasks.each do |task| %>
          <div class="each-task">

            <div class="tasks-title">
              <div class="checkbox-and-task">
                <div class="checkbox">
                  <% if task.is_done == false %>
                    <div class="unchecked-circle" id="sweet-alert">
                      <%= link_to '<i class="fas fa-check-circle"></i>'.html_safe, mark_as_done_task_path(task, step_id: @step.id)%>
                    </div>
                  <% else %>
                    <div class="checked-circle">
                      <%= link_to '<i class="fas fa-check-circle"></i>'.html_safe, mark_as_undone_task_path(task, step_id: @step.id)%>
                    </div>
                  <% end %>
                </div>

                <div class="message-body">
                  <div class="task">
                    <h5><strong><%= task.name %></strong></h5>
                    <p><%= task.description %></p>
                  </div>
                  <div class="task-right">
                    <h6 id="messages-toggler" data-target="<%= task.id %>" class="send-message-btn">See details</h6>
                    <div class="tasklinks">
                      <%= link_to edit_task_path(task) do %>
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- close task-title -->

            <div id="item_counter_<%= task.id %>">
              <% if task.documents.present? %>
                <div class="doc_list">
                  <h5><i class="fas fa-angle-right"></i> Shared files for this task ( <%= task.documents.count %> Files)</h5>
                </div>
              <% end %>

              <% if task.messages.present? %>
                <div class="doc_list">
                  <h5><i class="fas fa-angle-right"></i> Messages (<%= task.messages.count %> <%= "Message".pluralize(task.messages.count) %>)</h5>
                </div>
              <% end %>
            </div>

            <div class="tasks_list hide-task" id="tasks_list_<%= task.id %>">
              <div class="doc_list">
                <h5><i class="fas fa-angle-right"></i> Shared files for this task ( <%= task.documents.count %> Files)</h5>

                <% if task.documents.present? %>
                  <div class="docs-div flex">
                    <div class="docs-img flex-s">
                      <% task.documents.each do |document| %>
                        <%= cl_image_tag(document.name, width: 100, class: "zoom") %>
                      <% end %>
                    </div>
                    <div class="send-doc" style="width:100%">
                      <!-- Drag and drop -->
                      <%= render 'projects/drag', task: task %>
                    </div>
                  </div>

                <% else %>
                  <!-- Drag and drop -->
                  <%= render 'projects/drag', task: task %>
                <% end %>

                <h5 id="message"><i class="fas fa-angle-right"></i> Messages ( <%= task.messages.count %> Messages)</h5>

                <div class="all-messages">
                  <%= render 'messages/index', task: task %>
                </div>

                <div class="send-message">
                  <%= render 'messages/form', message: Message.new, task: task %>
                </div>
              </div>
            </div>
            <!-- close tasks_list -->
          </div>
          <!-- close each task -->
        <% end %>
        <!-- end iteration on @tasks -->
      </div>
      <!-- close tabs content -->
    </div>
    <!-- close main-screen -->
  </div>
  <!-- close all-without-sidebar -->
</div>
<!-- close all -->
