<%= render 'shared/flashes' %>

<div class="all">
  <!-- Sidebar -->
  <%= render 'shared/sidebar' %>

  <div class="all-without-sidebar">
    <div class="navnav">
      <!-- Navbar -->
      <div class="navbar-wagon">
        <div class="navbar-wagon-right">
          <% if user_signed_in? %>
          <!-- Links when logged in -->
          <div class="navleft"><p><%= link_to "Home", projects_path, class: "navbar-wagon-item navbar-wagon-link" %> / <%= link_to "My projects", projects_path, class: "navbar-wagon-item navbar-wagon-link" %> / <%= link_to "#{@project.name}", project_path(@project), class: "navbar-wagon-item navbar-wagon-link" %></p></div>
          <div class="navright"><p><%= cl_image_tag "notification", height: 30, crop: :fill %></p></div>
        </div>
        <% end %>
      </div>
    </div>

    <div class="main-screen">
      <div class="title">
        <div class="project-name"><h1> <%= @project.name %></h1></div>
        <!-- Edit a project -->
        <div class="edit-project"><%= link_to "Edit", edit_project_path(@project) %><i class="fas fa-pen"></i></div>
        <!-- <div class="edit-project"><%#= link_to "Add a new task", :anchor => "myform" %><i class="fas fa-pen"></i></div> -->
      </div>

      <h2>Timeline : current steps</h2>

      <div class="tabs">
        <% @project.steps.each do |step| %>
          <div class="tab"><%= link_to project_path(@project, step_id: step.id) do %>
              <%= step.name %></div>
            <% end %>
          <% end %>
        </div>

        <div class="tabs-content">
          <%= render 'projects/progressbar' %>
          <% @tasks.each do |task| %>
          <div class="each-task">
            <div class="tasks-title">
              <div class="checkbox-and-task">
                <div class="checkbox">
                  <% if task.is_done == false %>
                  <div class="unchecked-circle">
                    <%= link_to '<i class="fas fa-check-circle"></i>'.html_safe, mark_as_done_task_path(task, step_id: @step.id) %>
                  </div>
                  <% else %>
                  <div class="checked-circle">
                    <%= link_to '<i class="fas fa-check-circle"></i>'.html_safe, mark_as_undone_task_path(task, step_id: @step.id) %>
                  </div>
                  <% end %>
                </div>
                <div class="message-body">
                  <div class="task">
                    <h5><strong><%= task.name %></strong></h5>
                    <p><strong><%= task.description %></strong></p>
                  </div>
                  <div class="tasklinks">
                    <%= link_to task_path(task), method: :delete, data: {confirm: "Are you sure?"} do %>
                      <i class="fas fa-trash-alt"></i>
                    <% end %>
                    <%= link_to edit_task_path(task) do %>
                      <i class="fas fa-pen"></i>
                    <% end %>
                  </div>
                </div>
              </div>

            </div>
            <div class="doc_list">
              <% if task.documents.present? %>
                <h5>Shared files for this task ( <%= task.documents.count %> Files)</h5>
                <% task.documents.each do |document| %>
                  <%= cl_image_tag(document.name, width: 100) %>
                <% end %>
                <% else %>
                <% task.documents.each do |document| %>
                  <%= cl_image_tag(document.name, width: 100) %>
                <% end %>
              <% end %>
            </div>
            <div class="tasks_list">
              <div class="send-message">
                  <%= simple_form_for([task, Message.new]) do |f| %>
                    <%= f.input :content, label: 'Send a message' %>
                    <%= f.submit "Add a message", class: 'btn call-to-action' %>
                  <% end %>
                </div>
              <div class="send-doc">
              <!-- Drag and drop -->
              <%= simple_form_for(Document.new, url: task_documents_path(task)) do |f| %>
              <%= f.input :name, input_html: { class: 'dropzone', id: 'photo-input'}, label_html: { class: 'upload-photo'}, label: 'Add a document' %>
              <%= f.submit 'Upload File', class:"send-message-btn"%>
              <% end %>
              </div>
            </div>
            <% task.messages.each do |message| %>
            <div class="message">
              <% if message.user.is_customer %>
              <%= cl_image_tag message.user.photo, class:"avatar" %>
              <strong><%= message.user.first_name %> <%= message.user.last_name %></strong>
              <div class="message-body">
                <div class="message-content">
                  <%= message.content %>
                </div>
              </div>
              <% else %>
              <div class="message-body">
                <div class="message-content", id="right">
                  <%= message.content %>
                </div>
              </div>
              <strong>
                <%= message.user.first_name.upcase %> <%= message.user.last_name.upcase %>
              </strong>
              <%= cl_image_tag message.user.photo, class:"avatar" %>
              <% end %>
            </div>
            <% end %>
          </div>
          <% end %>
        </div>
        <%= render 'projects/newtask' %>
      </div>
      <!-- End of class main screen -->
    </div>
  </div>
